<p>
  <b>Keyword:</b>
  <%=h @wises_scrape.keyword %>
</p>

<p>
  <b>Name:</b>
  <%=h @wises_scrape.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @wises_scrape.location %>
</p>

<p>
  <b>Size:</b>
  <%=h @wises_scrape.size %>
</p>


<%= link_to 'Edit', edit_wises_scrape_path(@wises_scrape) %> |
<%= link_to 'Back', wises_scrapes_path %>